option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
  aws:elasticbeanstalk:container:custom:
    RAILS_ENV: production
    RAILS_SERVE_STATIC_FILES: true
    RAILS_MAX_THREADS: 5
    RAILS_MIN_THREADS: 5
    RAILS_LOG_TO_STDOUT: true
    RAILS_MASTER_KEY: <%= ENV['RAILS_MASTER_KEY'] %>
    DATABASE_URL: <%= ENV['DATABASE_URL'] %> 