container_commands:
  01_install_bundler:
    command: "gem install bundler"
  02_bundle_install:
    command: "bundle install --deployment"
  03_assets_precompile:
    command: "bundle exec rake assets:precompile"
  04_migrate:
    command: "bundle exec rake db:migrate"
  05_seed:
    command: "bundle exec rake db:seed"
  06_cleanup:
    command: "rm -rf /var/app/current/tmp/cache/*" 